<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">Health</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.health.value" value="{{system.health.value}}" min="0"/>
            <span> / {{system.health.max}}</span>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.mana.value" class="resource-label">Mana</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.mana.value" value="{{system.mana.value}}" min="0"/>
            <span> / {{system.mana.max}}</span>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.stamina.value" class="resource-label">Stamina</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.stamina.value" value="{{system.stamina.value}}" min="0"/>
            <span> / {{system.stamina.max}}</span>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.cr" class="resource-label">CR</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.cr" value="{{system.cr}}" min="0"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label class="resource-label">XP</label>
          <div class="resource-content flexrow flex-center flex-between">
            <span>{{system.xp}}</span>
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body scrollable" data-scrollable>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      <prose-mirror name="system.biography" value="{{system.biography}}" compact>
        {{{enrichedBiography}}}
      </prose-mirror>
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/aspects-of-power/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/aspects-of-power/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>

