<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <div class="resources grid grid-3col">

        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">Health</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.health.value" value="{{system.health.value}}" min="0"/>
            <span> / {{system.health.max}}</span>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.mana.value" class="resource-label">Mana</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.mana.value" value="{{system.mana.value}}" min="0"/>
            <span> / {{system.mana.max}}</span>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.stamina.value" class="resource-label">Stamina</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.stamina.value" value="{{system.stamina.value}}" min="0"/>
            <span> / {{system.stamina.max}}</span>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.class.level" class="resource-label">Class Level</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.attributes.class.level" value="{{system.attributes.class.level}}" min="0"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.race.level" class="resource-label">Race Level</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.attributes.race.level" value="{{system.attributes.race.level}}" min="0"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.profession.level" class="resource-label">Profession Level</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.attributes.profession.level" value="{{system.attributes.profession.level}}" min="0"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.class.name" class="resource-label">Class</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.attributes.class.name" value="{{system.attributes.class.name}}" data-dtype="String"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.race.name" class="resource-label">Race</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.attributes.race.name" value="{{system.attributes.race.name}}" data-dtype="String"/>
                        <span class="resource-label flex-center flex-between">Rank</span>
            <input type="text" name="system.attributes.race.rank" value="{{system.attributes.race.rank}}" data-dtype="String"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.profession.name" class="resource-label">Profession</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.attributes.profession.name" value="{{system.attributes.profession.name}}" data-dtype="String"/>
          </div>
        </div>
      </div>
      <div class="resources grid grid-6col">
        <div class="resource flex-group-center">
          <label class="resource-label">Armor</label>
          <div class="resource-content flexrow flex-center flex-between">
            <span>{{system.defense.armor.value}}</span>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label class="resource-label">Veil</label>
          <div class="resource-content flexrow flex-center flex-between">
            <span>{{system.defense.veil.value}}</span>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.defense.melee.value" class="resource-label">Melee Defense</label>
          <div class="resource-content flexrow flex-center flex-between">
            <span>{{system.defense.melee.value}}</span>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.defense.ranged.value" class="resource-label">Ranged Defense</label>
          <div class="resource-content flexrow flex-center flex-between">
            <span>{{system.defense.ranged.value}}</span>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.defense.mind.value" class="resource-label">Mind Defense</label>
          <div class="resource-content flexrow flex-center flex-between">
            <span>{{system.defense.mind.value}}</span>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.defense.soul.value" class="resource-label">Soul Defense</label>
          <div class="resource-content flexrow flex-center flex-between">
            <span>{{system.defense.soul.value}}</span>
          </div>
        </div>
      </div>
      <div class="resources grid grid-3col">
        <div class="resource flex-group-center">
          <label class="resource-label">Casting Range</label>
          <div class="resource-content flexrow flex-center flex-between">
            <span>{{numberFormat system.castingRange decimals=0}} ft</span>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label class="resource-label">Walk Range</label>
          <div class="resource-content flexrow flex-center flex-between">
            <span>{{numberFormat system.walkRange decimals=0}} ft</span>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label class="resource-label">Sprint Range</label>
          <div class="resource-content flexrow flex-center flex-between">
            <span>{{numberFormat system.sprintRange decimals=0}} ft</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <aside class="sidebar">

          <div class="abilities flexcol">
            {{#each system.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
              <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="(d20/100)*@abilities.{{key}}.mod+@abilities.{{key}}.mod" data-label="{{localize (lookup @root.config.abilities key)}}">{{localize (lookup @root.config.abilities key)}}</label>
              <input type="number" name="system.abilities.{{key}}.value" value="{{ability.value}}" min="0"/>
              <span class="stat-mod rollable" data-roll="(d20/100)*@abilities.{{key}}.mod+@abilities.{{key}}.mod" data-label="{{localize (lookup @root.config.abilities key)}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
            </div>
            {{/each}}
          </div>
        </aside>

        <section class="main grid-span-2">
          {{> "systems/aspects-of-power/templates/actor/parts/actor-skills.hbs"}}
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/aspects-of-power/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      {{> "systems/aspects-of-power/templates/actor/parts/actor-skills.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/aspects-of-power/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>
