<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img class='profile-img' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
    <div class='header-fields'>
      <h1 class='charname'><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></h1>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>Description</a>
    <a class='item' data-tab='damage'>Damage</a>
    <a class='item' data-tab='attributes'>Attributes</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
      enrichedDescription
      target='system.description'
      engine='prosemirror'
      button=true
      editable=editable
      }}
    </div>

    {{! Damage Tab }}
    <div class='tab damage' data-group='primary' data-tab='damage'>
      {{! As you add new fields, add them in here! }}
      <div class='resource'>
        <div class='grid grid-4col'>
          <div class='grid grid-4col'>
            <div class='grid-span-1'>
              <label class='resource-label'>Ability</label>
              <select name='system.roll.abilities' data-dtype='String'>
                <option value="vitality" {{#if (eq system.roll.abilities "vitality")}}selected{{/if}}>Vitality</option>
                <option value="strength" {{#if (eq system.roll.abilities "strength")}}selected{{/if}}>Strength</option>
                <option value="dexterity" {{#if (eq system.roll.abilities "dexterity")}}selected{{/if}}>Dexterity</option>
                <option value="toughness" {{#if (eq system.roll.abilities "toughness")}}selected{{/if}}>Toughness</option>
                <option value="intelligence" {{#if (eq system.roll.abilities "intelligence")}}selected{{/if}}>Intelligence</option>
                <option value="willpower" {{#if (eq system.roll.abilities "willpower")}}selected{{/if}}>Willpower</option>
                <option value="wisdom" {{#if (eq system.roll.abilities "wisdom")}}selected{{/if}}>Wisdom</option>
                <option value="perception" {{#if (eq system.roll.abilities "perception")}}selected{{/if}}>Perception</option>
              </select>
            </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Dice</label>
            <input type='text' name='system.roll.dice' value='{{system.roll.dice}}' data-dtype='String' />
          </div>

          <div class='grid-span-1'>
            <label class='resource-label'>Multiplier</label>
            <input type='text' name='system.roll.diceBonus' value='{{system.roll.diceBonus}}' data-dtype='Number' />
          </div>
        </div>

      </div>
    </div>

    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
      <div class='resource'>
        <input type='text' name='system.skillType' value='{{system.skillType}}' data-dtype='String' />
      </div>
    </div>
  </section>
</form>