<form class='{{cssClass}} flexcol' autocomplete='off'>
  <header class='sheet-header'>
    <img class='profile-img' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
    <div class='header-fields'>
      <h1 class='charname'><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></h1>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>Description</a>
    <a class='item' data-tab='damage'>Damage</a>
    <a class='item' data-tab='attributes'>Attributes</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
      enrichedDescription
      target='system.description'
      engine='prosemirror'
      button=true
      editable=editable
      }}
    </div>

    {{! Damage Tab }}
    <div class='tab damage' data-group='primary' data-tab='damage'>

      {{! ── Tag Checkboxes ── }}
      <div class='skill-tags'>
        <label class='resource-label'>{{localize "ASPECTSOFPOWER.Tag.label"}}</label>
        <div class='tag-checkboxes'>
          {{#each config.skillTags as |label key|}}
            <label class='tag-checkbox'>
              <input type='checkbox' name='system.tags' value='{{key}}'
                {{#if (includes ../system.tags key)}}checked{{/if}} />
              {{localize label}}
            </label>
          {{/each}}
        </div>
      </div>

      {{! ── Shared Roll Config (always visible) ── }}
      <div class='resource'>
        <div class='grid grid-5col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Ability</label>
            <select name='system.roll.abilities' data-dtype='String'>
              <option value="vitality" {{#if (eq system.roll.abilities "vitality")}}selected{{/if}}>Vitality</option>
              <option value="strength" {{#if (eq system.roll.abilities "strength")}}selected{{/if}}>Strength</option>
              <option value="dexterity" {{#if (eq system.roll.abilities "dexterity")}}selected{{/if}}>Dexterity</option>
              <option value="toughness" {{#if (eq system.roll.abilities "toughness")}}selected{{/if}}>Toughness</option>
              <option value="intelligence" {{#if (eq system.roll.abilities "intelligence")}}selected{{/if}}>Intelligence</option>
              <option value="willpower" {{#if (eq system.roll.abilities "willpower")}}selected{{/if}}>Willpower</option>
              <option value="wisdom" {{#if (eq system.roll.abilities "wisdom")}}selected{{/if}}>Wisdom</option>
              <option value="perception" {{#if (eq system.roll.abilities "perception")}}selected{{/if}}>Perception</option>
            </select>
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Dice</label>
            <input type='text' name='system.roll.dice' value='{{system.roll.dice}}' data-dtype='String' />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Multiplier</label>
            <input type='number' name='system.roll.diceBonus' value='{{system.roll.diceBonus}}' min='0' step='0.01' />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Resource</label>
            <select name='system.roll.resource'>
              <option value="mana" {{#if (eq system.roll.resource "mana")}}selected{{/if}}>Mana</option>
              <option value="stamina" {{#if (eq system.roll.resource "stamina")}}selected{{/if}}>Stamina</option>
              <option value="health" {{#if (eq system.roll.resource "health")}}selected{{/if}}>Health</option>
            </select>
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Cost</label>
            <input type='number' name='system.roll.cost' value='{{system.roll.cost}}' min='0' step='1' />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Skill Type</label>
            <select name='system.roll.type' data-dtype='String'>
              <option value="str_weapon" {{#if (eq system.roll.type "str_weapon")}}selected{{/if}}>Strength Weapon</option>
              <option value="dex_weapon" {{#if (eq system.roll.type "dex_weapon")}}selected{{/if}}>Dexterity Weapon</option>
              <option value="phys_ranged" {{#if (eq system.roll.type "phys_ranged")}}selected{{/if}}>Physical Ranged Weapon</option>
              <option value="magic" {{#if (eq system.roll.type "magic")}}selected{{/if}}>Magic</option>
              <option value="magic_projectile" {{#if (eq system.roll.type "magic_projectile")}}selected{{/if}}>Magic Projectile</option>
              <option value="magic_melee" {{#if (eq system.roll.type "magic_melee")}}selected{{/if}}>Magic Melee</option>
              <option value="wisdom_dexterity" {{#if (eq system.roll.type "wisdom_dexterity")}}selected{{/if}}>Wisdom Dexterity</option>
            </select>
          </div>
        </div>
      </div>

      {{! ── Attack Tag Config ── }}
      {{#if (includes system.tags "attack")}}
      <div class='tag-config attack-config'>
        <label class='resource-label'>Target Defense</label>
        <select name='system.roll.targetDefense' data-dtype='String'>
          <option value="" {{#if (eq system.roll.targetDefense "")}}selected{{/if}}>(none)</option>
          <option value="melee" {{#if (eq system.roll.targetDefense "melee")}}selected{{/if}}>Melee</option>
          <option value="ranged" {{#if (eq system.roll.targetDefense "ranged")}}selected{{/if}}>Ranged</option>
          <option value="mind" {{#if (eq system.roll.targetDefense "mind")}}selected{{/if}}>Mind</option>
          <option value="soul" {{#if (eq system.roll.targetDefense "soul")}}selected{{/if}}>Soul</option>
        </select>
        <label class='resource-label'>Damage Type</label>
        <select name='system.roll.damageType' data-dtype='String'>
          <option value="physical" {{#if (eq system.roll.damageType "physical")}}selected{{/if}}>Physical (Armor)</option>
          <option value="magical" {{#if (eq system.roll.damageType "magical")}}selected{{/if}}>Magical (Veil)</option>
        </select>
      </div>
      {{/if}}

      {{! ── Heal Tag Config ── }}
      {{#if (includes system.tags "heal")}}
      <div class='tag-config heal-config'>
        <label class='resource-label'>{{localize "ASPECTSOFPOWER.TagConfig.healTarget"}}</label>
        <select name='system.tagConfig.healTarget'>
          {{#each config.healTargets as |label key|}}
            <option value='{{key}}' {{#if (eq key ../system.tagConfig.healTarget)}}selected{{/if}}>
              {{localize label}}
            </option>
          {{/each}}
        </select>
      </div>
      {{/if}}

      {{! ── Buff Tag Config ── }}
      {{#if (includes system.tags "buff")}}
      <div class='tag-config buff-config'>
        <label class='resource-label'>{{localize "ASPECTSOFPOWER.TagConfig.buffAttributes"}}</label>
        {{#each buffAttributeGroups}}
          <div class='attribute-group'>
            <span class='group-label'>{{this.label}}</span>
            <div class='group-entries'>
              {{#each this.attributes}}
                <label class='attr-entry'>
                  <input type='checkbox' name='system.tagConfig.buffEntries'
                         value='{{this.key}}' {{#if this.checked}}checked{{/if}} />
                  {{this.label}}
                  {{#if this.checked}}
                    <span class='multiplier-label'>&times;</span>
                    <input type='number' class='attr-value' data-attr='{{this.key}}'
                           data-target='buff' value='{{this.value}}' min='0' step='0.1' />
                  {{/if}}
                </label>
              {{/each}}
            </div>
          </div>
        {{/each}}
        <label class='resource-label'>{{localize "ASPECTSOFPOWER.TagConfig.duration"}}</label>
        <input type='number' name='system.tagConfig.buffDuration'
               value='{{system.tagConfig.buffDuration}}' min='0' step='1' />
      </div>
      {{/if}}

      {{! ── Debuff Tag Config ── }}
      {{#if (includes system.tags "debuff")}}
      <div class='tag-config debuff-config'>
        <label class='resource-label'>{{localize "ASPECTSOFPOWER.TagConfig.debuffAttributes"}}</label>
        {{#each debuffAttributeGroups}}
          <div class='attribute-group'>
            <span class='group-label'>{{this.label}}</span>
            <div class='group-entries'>
              {{#each this.attributes}}
                <label class='attr-entry'>
                  <input type='checkbox' name='system.tagConfig.debuffEntries'
                         value='{{this.key}}' {{#if this.checked}}checked{{/if}} />
                  {{this.label}}
                  {{#if this.checked}}
                    <span class='multiplier-label'>&times;</span>
                    <input type='number' class='attr-value' data-attr='{{this.key}}'
                           data-target='debuff' value='{{this.value}}' min='0' step='0.1' />
                  {{/if}}
                </label>
              {{/each}}
            </div>
          </div>
        {{/each}}
        <label class='resource-label dot-toggle'>
          <input type='checkbox' name='system.tagConfig.debuffDealsDamage'
                 {{#if system.tagConfig.debuffDealsDamage}}checked{{/if}} />
          {{localize "ASPECTSOFPOWER.TagConfig.debuffDealsDamage"}}
        </label>
        {{#if system.tagConfig.debuffDealsDamage}}
        <label class='resource-label'>{{localize "ASPECTSOFPOWER.TagConfig.debuffDamageType"}}</label>
        <select name='system.tagConfig.debuffDamageType'>
          <option value='physical' {{#if (eq system.tagConfig.debuffDamageType "physical")}}selected{{/if}}>Physical (ignores Armor)</option>
          <option value='magical' {{#if (eq system.tagConfig.debuffDamageType "magical")}}selected{{/if}}>Magical (ignores Veil)</option>
        </select>
        {{/if}}
        <label class='resource-label'>{{localize "ASPECTSOFPOWER.TagConfig.duration"}}</label>
        <input type='number' name='system.tagConfig.debuffDuration'
               value='{{system.tagConfig.debuffDuration}}' min='0' step='1' />
      </div>
      {{/if}}

    </div>

    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
      <div class='resource'>
        <input type='text' name='system.skillType' value='{{system.skillType}}' data-dtype='String' />
      </div>
    </div>
  </section>
</form>